body{
	font-family: 'Raleway', sans-serif;
	background: #34495E;
	color: white;
	margin-top: 15%;
}
.rosa{
	background-color: pink;
	
	
}

.col-md-4{
	border: 1px solid #c3c3c3;
	align-content: center;
	display: flex;
}

#imagen_banner{
	background-image: url(..img/bio.png);
	width: 100%;
    z-index: 1000;
    height: 250px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;

}